:root {
  /* IRIS - logo, button color*/
  --logo-color: #4d5ae5;
  --btn-color: #4d5ae5;
  /* NAVY BLUE - hero background (bg), menu & headings fonts*/
  --hero-color: #2e2f42;
  --heading-color: #2e2f42;
  /* SLATE - dark fonts contacts & main text */
  --address-color: #434455;
  --main-fonts: #434455;
  /* CLOUD & white - light fonts, Section-3 bg */
  --light-font: #f4f4fd;
  --white-color: #ffffff;
  /* CORNFLOWER - Section-2 bg, Portfolio bg*/
  --portfolio-bgc: #e7e9fc;
  /* OCEAN - aktive button */
  --hover-btn: #404bbf;
}

body {
  font-family: 'Roboto', sans-serif;
  /* font-style: normal; - непотрібно (дефолтне значення)*/
  color: var(--main-fonts);
  background-color: var(--white-color);
}

/* для заголовків перезадаємо параметри */
.header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-color);
}

.main-text {
  /* font-weight: 400;   *** непотрібно - йде за замовчуванням*/
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-fonts);
}

/* ========== RESET ==========  */
/* Видалення підкреслення link-ів */
.link {
  text-decoration: none;
}

/* Видалення маркерів, нумерації */
.list {
  list-style: none;
}

/* Прихований заголовок */
.hide-titel {
  display: none;
}

/* для прибирання курсиву */
address {
  font-style: normal;
  text-decoration: none;
}

/* ========== HEADER ========== */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.logo-studio {
  color: var(--heading-color);
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--heading-color);
}

.menu-link:hover,
.menu-link:focus,
.contact-hover:hover,
.contact-hover:focus {
  color: var(--hover-btn);
}

.contact {
    /* font-weight: 400;   *** непотрібно - йде за замовчуванням*/
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--address-color);
}

/* ========== MAIN ========== */
/* Hero section style*/
.hero-bloc {
  background-color: var(--hero-color);
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-color);
}

/* ==========BUTTON STYLE========== */
/* button in index.html */
.btn {
  font-family: 'Roboto', sans-serif;
  background-color: var(--btn-color);
  min-width: 169px;
  height: 56px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--hover-btn);
}

.btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
}

/* ========== SECTIONs ========== */
/* Section 1 (h3 = header під "body") */

/* Section 2,3 (h2) */
.header-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--heading-color);
}

/* Section 3 */
.sec-three {
  /* Кожне Слово З Великої Літери */
  text-transform: capitalize;
  background-color: var(--light-font);
}

.team-items {
  background-color: #ffffff;
}

/* ========== FOOTER ========== */
.footer-section {
  background: var(--heading-color);
}

.logo-footer {
  color: var(--light-font);
}

.text-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-font);
}

/* ========== PAGE2 - PORTFOLIO ========== */
/* ==========BUTTON STYLE========== */

.filter-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--btn-color);
  background: var(--light-font);
  border: 1px solid var(--portfolio-bgc);
  border-radius: 4px;
  letter-spacing: 0.04em;
  padding: 12px 24px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--hover-btn);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--hover-btn);
}

